In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from scipy.stats import f_oneway
import os

- create a bunch of empty dataframes for each metric
- load in a user's file
    - user as a column, each row is a different time 
    - make sure to include whether its level 1, 2, or 3
    - shape
        - columns: participant ID, e-level, heart rate 1 sec, 2 sec, etc
- data analysis
    - across group
    - changes across users?

In [85]:
# create pandas dataframes
HR_df = pd.DataFrame(columns = ["participant ID","encouragement-level", "mean HR"])

folders = os.listdir('.\exercise_data')
for f in folders:
    f_name = f.split('-')
    HR_file = f'.\exercise_data\{f}\{f_name[0]}\HR.csv'
    HR_row = pd.read_csv(HR_file).transpose()
    HR_row = HR_row.drop(0, axis=1)
    mean = HR_row.iloc[0].mean()
    HR_df = pd.concat([HR_df, HR_row], ignore_index=True)
    HR_df.at[HR_df.shape[0]-1, "participant ID"] = f
    HR_df.at[HR_df.shape[0]-1, "mean HR"] = mean

HR_df

# still missing the encouragement level!

82.14376098418276
97.795
103.09357827476039

,participant ID,encouragement-level,mean HR,1,2,3,4,5,6,7,...,1061,1062,1063,1064,1065,1066,1067,1068,1069,1070
0,1682194059_A0348F-20230423T142754Z-001,NaN,82.143761,60.0,57.5,71.00,72.75,70.6,71.83,72.86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1682194865_A0348F-20230423T142752Z-001,NaN,97.795,55.0,55.5,59.00,65.75,70.2,71.17,72.43,...,123.03,123.22,123.33,123.43,123.55,123.65,123.77,123.03,121.88,120.73
2,1682196247_A0348F-20230423T142750Z-001,NaN,103.093578,85.0,84.5,84.67,75.75,89.0,97.83,104.29,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [98]:
HR_df.at[0, "encouragement-level"] = 1
HR_df.at[1, "encouragement-level"] = 2
HR_df.at[2, "encouragement-level"] = 3

In [109]:
# Compute the mean heart rate for each session
groups = HR_df.groupby('encouragement-level')['mean HR']

# Perform ANOVA test
group_list = []
for group_name, group_data in groups:
    group_array = group_data.to_numpy()
    group_list.append(group_array)

# perform ANOVA test
f_statistic, p_value = f_oneway(*group_list)
# Print the F-statistic and p-value
print('F-statistic:', f_statistic)
print('p-value:', p_value)

F-statistic: nan
p-value: nan

c:\python39\lib\site-packages\scipy\stats\_stats_py.py:3869: DegenerateDataWarning: all input arrays have length 1.  f_oneway requires that at least one input has length greater than 1.
  warnings.warn(stats.DegenerateDataWarning(msg))

In [105]:
if f_statistic < .05:
    print("we reject the null, therefore there is a significant difference across the encouragement levels")
else: 
    print("we cannot reject the null, therefore there is not a significant difference across the encouragement levels")

we cannot reject the null, therefore there is not a significant difference across the encouragement levels

In [110]:
print(groups.mean())

encouragement-level
1     82.143761
2        97.795
3    103.093578
Name: mean HR, dtype: object